span {
    display:block;
    text-indent: 20px;
}

body{
    font: helvetica;
    color: white;
    background-color: black;
    font-style: italic;
    font-weight: 550;

}

.odd{
    background-color: white;
    color:black;
}

#bridge{
    color:yellow;
}